.pad{padding: 30px;
border: 4px red solid ;
background: royalblue;
height: 60px;}

div{border: double black 10px;
padding-left:40px ;
color: cornflowerblue;
width: 400px;
height: 80px;
background: darkorchid;}

.pad2{background: dodgerblue;
width: 28%;
padding: 30px;
border:dashed}

.boxmodel{border: 8px black ridge;
margin: 60px;
height: 700px;
width: 800px;
background:darkgreen;
padding: inherit;
color: rgb(43, 2, 37);}